/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;text-decoration:none;margin:0;padding:0}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote: before,blockquote: after,q: before,q: after{content:none}
table{border-collapse:collapse;border-spacing:0}
.clearfix:after,.center:after{content:".";display:block;height:0;clear:both;visibility:hidden}
* html .clearfix,* html .center{height:1%}
html,body{width:100%;height:100%;position:relative;overflow:hidden;margin:0;padding:0}
html{background:#e9eaec no-repeat 50% 0}
html *{line-height:1;font-family:HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-weight:300}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,.clearfix,.center{display:block}
/* Reset */


.viewport
{
	float: left;
	width: 100%;
	height: 100%;

	position: relative;
}

	.viewport .header
	{
		float: left;
		/*min-height: 45px;*/

		position: absolute;
		top: 0px;
		right: 0px;
		left: 0px;
	}
		.viewport .header .heading
		{
			float: left;
			width: 100%;
			margin: 10px 0;

			text-align: center;
		}
		.viewport .header .button
		{
			cursor: pointer;
		}
		.viewport .header .button.back { }

	
	.viewport .body
	{
		float: left;
		width: 100%;

		overflow: hidden;
	}


	.viewport .footer
	{
		float: left;
		width: 100%;
		/*min-height: 50px;*/

		position: absolute;
		bottom: 0px;
	}

	
.viewport .button
{
	float: left;
	position: absolute;
	top: 10px;
}
	.viewport .button.left
	{
		left: 10px;
	}
	.viewport .button.right
	{
		right: 10px;
	}


.viewport .tabs
{
	float: left;
	width: 100%;
}
	.viewport .tabs li
	{
		float: left;
	}
		.viewport .tabs li .inner
		{
			padding: 20px 0;
			font-size: 9px;
			text-align: center;
		}


.viewport .slides
{
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}
	.viewport .slides ul
	{
		display: inline;
		float: left;
		width: 100%;
	}
		.viewport .slides ul li
		{
			display: inline;
			float: left;
			width: 100%;
			overflow-x: hidden;
		}


.viewport .list
{
	float: left;
	width: 100%;
	position: relative;
}
	.viewport .list ul
	{
		display: inline;
		float: left;
		width: 100%;
		position: relative;
	}
		.viewport .list ul li
		{
			float: left;
			width: 100%;
			position: relative;
		}
			.viewport .list ul li:hover
			{
			}
			.viewport .list ul li.parent
			{
				cursor: pointer;
			}
				.viewport .list ul li.parent .arrow
				{
				}